{% extends 'base.html' %}
{% block content %}
<h2>Product Detail</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <p>No image available</p>
                    {% endif %}</td>
                <td>{{ product.price }}</td>
                <td>
                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>

    </tbody>
</table>
{% endblock %}